{{ partial "header.html" . }}

<!-- {{ $products := getJSON "/data/products.json" }} -->
<main class="products">
  <img src="/images/icons/cheese-background.svg" alt="" class="background-image">
  <div class="promotional-message">
    <h3>REDISCOVER</h3>
    <h2>Mask</h2>
    <p>This is only a <strong>DEMO SITE</strong> for technology review. NO masks are sold from this site.</p>
  </div>
  {{ range where .Site.RegularPages "Section" "products"}}
    {{ partial "product.html" .Params }}
  {{ end }}
</main>

{{ partial "footer.html" . }}
